$shadow-color:#1183d6;

.container{
    // border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.header__1{
    // border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 15%;

    &__logoName{
        // border: 2px solid magenta;
        display: flex;
        align-items: center;
        font-size: 2.2vw;
        gap: 65px;
    }

    &__logo{
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQzi8oF-wXxBmF5NJ8YmCmaV8mkv5XFikUTz40QqVCSfyIrVjKJ");
        background-image: url("./images/dropletlogo.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
    }

    &__title{
        margin-left: -35px;
        span{
            font-weight: bold;
        }
    }

    &__search {
        input {
        // border: 2px solid yellow;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLdBmPu0oQfvy7RAuhcuOJfvL9QYbN_hcOdebOR6966-KnZvIjpVrfg1WV6hMZ5wYuzyY&usqp=CAU");
        background-repeat: no-repeat;
        background-position: 25px 12px;
        background-size: 22px;
        padding: 10px;
        width: 20vw;
        border-radius: 1px;
        height: 4vh;
        font-size: 16px;
        border: 1.5px solid rgba(193, 189, 189, 0.4);
        margin-left: -10px;
        text-indent: 30px;
        padding-left: 25px;
        color: black;
        font-weight: 900;
    }

        input:focus {
            box-shadow: 0 0 3px 0 #1890ff;
            outline: none;
            border: none;
            border-radius: 3px solid #1890ff;
        }
    }
}

.header__2{
    // border: 2px solid magenta;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;

    &__para__1,&__para__2, &__para__3{
        cursor: pointer;
        // border: 2px solid yellow;
        font-weight: bold;
        font-size: 1.2vw;
        display: flex;
        justify-content: center;
    }

    &__para__1:hover, &__para__2:hover, &__para__3:hover{
        color: $shadow-color;
    }

    &__para__image{
        // border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("https://i.pinimg.com/736x/a7/66/92/a766923c29305a16ce461b2ae54f4c68.jpg");
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 4vw;
        height: 4vw;
        background-size: 110%;
        background-position: contain;

        span{
            height: 1.7vh;
            width: 0.8vw;
            border: 3px solid white;
            background-color: #99d98c;
            border-radius: 100%;
            margin-left: 30px;
            margin-top: -50px;
            margin-bottom: -10px;
            margin-right: -10px;
        }

    }

    &__para__2{
        // border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__para__box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 1vh;
        border-radius: 3px;
        color: $shadow-color;
        background-color: rgba(0, 181, 204,0.1);
    }
}

.horizontal__line{
    border: 1.5px solid #ccc;
    opacity: 0.5;
}