$primary-color:#40a5f3;
$border-color: #ccc;

$tablet-view: 768px;
$mobile-view: 360px;

.entire{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;
    display: flex;
}

.user__image{
    // border: 2px solid black;
    background-image: url("./images/images.jpg");
    width: 50vw;
    height: 50vh;
    background-size: 85%;
    background-repeat: no-repeat;
}

.user__data{
    // border: 2px solid red;
    width: 57vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info{
        // border: 2px solid yellow; 
        display: flex;
        align-items: center;
        width: 25vw;
        gap: 20px;
    }

    &__city{
        // border: 2px solid green;
        display: flex;
        align-items: center;
        margin-bottom: -6px;

        &__location{
            // border: 2px solid lawngreen;
            background-image: url("https://www.pngitem.com/pimgs/m/94-941550_location-icon-png-grey-transparent-png-location-icon.png");
            width: 2vw;
            height: 3vh;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__name{
            // border: 2px solid blue;
            color: $border-color;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

    &__bookmark{
        // border: 2px solid;
        display: flex;
        align-items: center;
        gap: 5px;
        &__image{
            // border: 2px solid hotpink;
            background-image: url("./images/Book1.png");
            width: 2vw;
            height: 4vh;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 1px 3px;
        }

        &__text{
            font-size: 0.8rem;
            color: $border-color;
        }
    }
}

.user__data__name{
    // border: 2px solid purple;
    font-size: 1.8rem;
    font-weight: bold;
}

.user__role{
    // border: 2px solid cyan;
    font-size: 1rem;
    padding: 5px;
    padding-left: 0px;
    color: $primary-color;
    font-weight: bold;
}

.user__ranking{
    // border: 2px solid khaki;
    color: $border-color;
    margin-top: 30px;
    font-weight: bold;

    &__header{
        // border: 2px solid firebrick;
        font-size: 0.75em;
        padding-bottom: 5px;
    }

    &__rate{
        // border: 2px solid green;
        display: flex;
        align-items: center;
        gap: 15px;
        &__point{
            color: black;
            font-size: 1.5rem;
        }
        &__image{
        // border: 2px solid black;
        background-image: url("./images/45stars.png");
        width: 10vw;
        height: 3vh;
        background-size: 100%;
        background-repeat: no-repeat;
        }
    }
}

.work{
    // border: 2px solid red;
    margin-top: -450px;
    margin-left: 70px;
    width: 25.4vw;
}

@media (max-width: $tablet-view) {
    .entire{
        // border: 2px solid green;
        display: block;
    }
    .user__image{
        // border: 2px solid black;
        // display: none;
        background-size: 100%;
        width: 30vw;
        height: 40vh;
        
    }
    
    .user__data{
        // border: 2px solid red;
        // width: 75vw;
        margin-top: -200px;
        margin-left: 218px;
        justify-content: flex-end;

        &__name{
            // border: 2px solid green;
            font-size: 2rem;
        }
    
        &__info{
            // border: 2px solid yellow; 
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 40px;
            width: 100vw;
        }
    
        &__city{
            // border: 2px solid green;
            align-items: center;
            margin-bottom: -10px;
            gap: 8px;
        }
    
        &__bookmark{
            display: none;
        }
    }
    
    .user__role{
        // border: 2px solid cyan;
        margin-top: 10px;
        margin-left: 110px;
        display: flex;
        justify-content: center;
    }
    
    .user__ranking{
        &__header{
            // border: 2px solid firebrick;
            font-size: 1.1rem;
            margin-left: 295px;
        }
    
        &__rate{
            // border: 2px solid green;
            margin-left: 295px;
            &__image{
            // border: 2px solid black;
            background-size: 120%;
            width: 20vw;
            height: 5vh;
            }
        }
    }
    
    .work{
        // border: 2px solid red;
        margin: 0;
    }

    .user__navbar{
        // border: 2px solid pink;
        display: block;
    }
    
    .work{
        // border: 2px solid hotpink;
        margin-left: 70px;
        width: 82vw;
    }
}

@media (max-width: $mobile-view) {
    .user__image{
        // border: 2px solid black;
        height: 18vh;
        background-size: 100%;
        background-position: -10px -1px;
        
    }
    
    .user__data{
        // border: 2px solid red;
        display: block;
        margin-top: -100px;
        margin-left: 120px;

        &__name{
            // border: 2px solid green;
            font-size: 2em;
        }
    
        &__info{
            // border: 2px solid yellow; 
            display: block;
        }
    
        &__city{
            // border: 2px solid blue;
            padding-top: 5px;

            &__location{
                // border: 2px solid lawngreen;
                width: 6vw;
                height: 5vh;
                background-size: 120%;
                background-position: -2px -2px;
            }

            &__name{
                margin-bottom: 5px;
                font-size: 1rem;
            }
        }
    
        &__bookmark{
            display: none;
        }
    }
    
    .user__role{
        // border: 2px solid cyan;
        margin-left: 165px;
        justify-content: flex-start;
        width: 100vw;
        font-size: 1.2rem;
    }
    
    .user__ranking{
        &__header{
            // border: 2px solid firebrick;
            font-size: 1.5rem;
            width: 100vw;
            margin-left: 0px;
        }
    
        &__rate{
            // border: 2px solid green;
            width: 100vw;
            margin-left: 0px;
            &__image{
            // border: 2px solid black;
            background-size: 100%;
            width: 50vw;
            height: 5vh;
            }
        }
    }

    .user__navbar{
        // border: 2px solid pink;
        display: block;
        margin: 0px;
        width: 100vw;
    }
    
    .work{
        // border: 2px solid maroon;
        width: 100vw;
    }
}

@media (max-width: 480px) {
    .user__ranking{
        border: 2px solid red;
        margin-left: -297px;
    }
}