$primary-color:#40a5f3;
$background-color: rgba(0, 181, 204,0.1);
$border-color: #ccc;

$tablet-view: 768px;
$mobile-view: 360px;

.workheader{
    // border: 2px solid red;
    font-size: 0.7rem;
    color: $border-color;
    font-weight: bold;
}

.workheader::after {
    // border: 2px solid green;
    margin-top: 30px;
    content: "";
    display: inline-block;
    width: 22vw;
    margin-right: -100%;
    margin-left: 5px;
    border-bottom: 2px solid $border-color;
}

.workdata{
    // border: 2px solid green;
    span{
        font-weight: bold;
    }
}

.work1{
    margin-top: 28px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    gap: 20px;

    &__primary{
        padding: 10px;
        background-color: $background-color;
        color: $primary-color;
        font-weight: bold;
        font-size: 0.8rem;
    }

    &__address{
        // border: 2px solid plum;
        font-size: 0.8rem;
        color: $border-color;
        font-weight: bold;
        padding: 10px;
        padding-left: 0px;
        padding-top: 5px;

        div{
            // border: 2px solid yellow;
            margin: 10px;
            margin-left: 0;
        }
    }
}

.work2{
    // border: 2px solid navy;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;

    &__header{
        width: 10vw;
    }

    &__secondary{
        padding: 10px;
        background-color: $background-color;
        color: $primary-color;
        font-weight: bold;
        font-size: 0.8rem;
    }

    &__address{
        // border: 2px solid plum;
        font-size: 0.8rem;
        color: $border-color;
        font-weight: bold;
        padding: 10px;
        padding-left: 0px;
        padding-top: 15px;

        div{
            // border: 2px solid yellow;
            margin: 10px;
            margin-left: 0;
        }
    }
}

.skilldata{
    margin-top: 25px;
    &__header{
        // border: 2px solid rebeccapurple;
        font-size: 0.7rem;
        color: $border-color;
        font-weight: bold;
    }
    &__header:after{
        content: "";
        display: inline-block;
        width: 22vw;
        height: 100%;
        margin-right: -100%;
        margin-left: 5px;
        border-bottom: 2px solid $border-color;
    }
    &__list{
        // border: 2px solid purple;
        margin-top: 30px;
        font-weight: 600;
        div{
            // border: 2px solid hotpink;
            margin-bottom: 8px;
        }
    }
}

@media (max-width: $tablet-view) {
    
.workheader{
    margin-top: 30px;
    // border: 2px solid red;
}

.workheader::after {
    // border: 2px solid green;
    content: "";
    display: inline-block;
    width: 76vw;
    margin-right: -100%;
    margin-left: 5px;
    border-bottom: 2px solid $border-color;
}

.work1{
    // border: 2px solid cyan;
    font-size: 1.2rem;

    &__address{
        // border: 2px solid plum;

        div{
            // border: 2px solid yellow;
            font-size: 1rem;
        }
    }
}

.work2{
    // border: 2px solid navy;
    font-size: 1.2rem;
    gap: 120px;

    &__address{
        // border: 2px solid plum;

        div{
            // border: 2px solid yellow;
            font-size: 1rem;
        }
    }
}

.skilldata{
    &__header:after{
        content: "";
        display: inline-block;
        width: 76vw;
        height: 100%;
        margin-right: -100%;
        margin-left: 5px;
        border-bottom: 2px solid $border-color;
    }
    &__list{
        // border: 2px solid purple;
        div{
            font-size: 1.2rem;
            // border: 2px solid hotpink;
        }
    }
}
}

@media (max-width: $mobile-view) {
    
    .workheader::after {
        // border: 2px solid green;
        width: 85vw;
    }
    
    .skilldata{
        &__header:after{
            width: 85vw;
        }
    }
    }